<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j" debug="true">

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="File"
               value="/opt/up/logs/competence.log"></param>
        <!--		<param name="File" value="C:/Users/dehne/Desktop/logs/competecd nce.log" 	/> -->
        <param name="maxFileSize" value="1MB"/>
        <param name="maxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n"/>
        </layout>
    </appender>


    <appender name="rootFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="INFO"/>
        <param name="File" value="/opt/up/logs/root.log"/>
        <!--<param name="File" value="C:/Users/dehne/Desktop/logs/root.log" />-->
        <param name="maxFileSize" value="1MB"/>
        <param name="maxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n"/>
        </layout>
    </appender>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%t]%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>


    <logger name="uzuzjmd.competence">
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="console"/>
    </logger>

    <root>
        <appender-ref ref="rootFileAppender"/>
    </root>


</log4j:configuration>
